  <!DOCTYPE html>
  <html lang="zh-cmn-Hans">
  <head>
    <!-- 指定字符编码的 meta 必须是 head 的第一个直接子元素 -->
    <meta charset="utf-8">
    <!-- SEO优化 -->
    <title>Style Guide</title>         <!-- title标签放在charset之后 -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="try.css">
  </head>
  
  <body>

    <ul class="demo">
      <li v-for="item in list" @click="addTodo('123',$event)">
        {{item.title}}
      </li>
      <input type="text" v-on:keyup.enter="addTodo" v-model="todo" placeholder="？？？？？？？">
    </ul>
    <canvas></canvas>
    

    <script src="jquery-3.1.1.js"></script>
    <!-- <script src="bootstrap-3.3.5/dist/js/bootstrap.min.js"></script> -->
    <script src="vue.js"></script>
    <script src="try.js"></script>
    <script>
        var str = '{q:"undefined",p:false,s:["undefined是什么意思","undefined reference to","undefined symbol","undefined control sequence","js undefined判断","undefined reference to vtable for","undefined is not a function","undefined is not an object evaluating","undefined js","undefined is not an object"]}';
        //var reg = new RegExp("(?<=^ab).+(?=ef$)","g");
        //var str = 'twl(dsa)';
        
        console.log(typeof JSON.parse(str),JSON.parse(str));
    </script>

  </body>
  
  </html>
