  <!DOCTYPE html>
  <html lang="zh-cmn-Hans">
  <head>
    <!-- 指定字符编码的 meta 必须是 head 的第一个直接子元素 -->
    <meta charset="utf-8">
    <!-- SEO优化 -->
    <title>Style Guide</title>         <!-- title标签放在charset之后 -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="try.css">
  </head>
  
  <body>

    <ul class="demo">
      <li v-for="item in list" @click="addTodo('123',$event)">
        {{item.title}}
      </li>
      <input type="text" v-on:keyup.enter="addTodo" v-model="todo" placeholder="？？？？？？？">
    </ul>
    

    <script src="jquery-3.1.1.js"></script>
    <!-- <script src="bootstrap-3.3.5/dist/js/bootstrap.min.js"></script> -->
    <script src="vue.js"></script>
    <script src="try.js"></script>
    <script>
      // 数据
      var dataList = [
  {
    title:"吃饭打豆豆",
    isChecked:false //状态为false，为不选中  任务未完成
  },
  {
    title:"妙味课堂",
    isChecked:true   //状态为true，为选中    任务完成
  }
];
      // Vm实例
      var vm = new Vue({
        el: ".demo", // 挂载元素
        data: {
          list: dataList,
          todo: ""
        },
        methods: {
          addTodo(ev,ev2) {
            console.log(ev,ev2);
            this.list.push({
              title: this.todo
            });
            this.todo = "";
            console.log("1",this.todo);
          }
        }
      });
    </script>

  </body>
  
  </html>
