

.wrap {
  width: 1000px;
  height: 200px;
  margin: 0 auto;
}

.main {
  float: left;
  width: 100%;
  height: 200px;
  background: gray;
}

.contetn {
  margin: 0 200px;
}

.left {
  float: left;
  width: 200px;
  height: 200px;
  margin-left: -100%;
  background: red;
}

.right {
  float: left;
  width: 200px;
  height: 200px;
  margin-left: -200px;
  background: blue;
}
body {}

